html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    
}
nav{
    height: 80px;
    background-color: rgb(121, 224, 52);   
}
.barra-navegacion {
    display: flex;
    justify-content: space-between;
    list-style:none;
    margin-top:0;
    padding: 20px;   
}
.icon-brand{
    font-size: 20px;
    padding: 10px;
}
.carrito{
    border: none;
    background-color:rgb(121, 224, 52);
    font-size: medium;
}

.menu-carrito{
    display: none;

}

.menu-carrito-desplegable{
    display: block;
    transition:1s;
    position:absolute;
    top:0px;
    right:0px;
    background-color:white;
    height:100%;
    width:30%;
    transform: translateX(431px);
    z-index:1;
    
     
}
.mostrar-menu-carrito{
    transform: translateX(0px); 

}


.titulos-carrito{
    padding-top:20px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    font-size:30px;
}

.comenzar-compra{
    display:flex;
    flex-direction: column;
}  

.fa-window-close{
   font-size:30px;
}

.checkout{
    display: none;
}

.menu-checkout{
    
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    background-color:white;
    position:absolute;
    top:0px;
    left:350px;
    z-index: 2; 
}
.resumen{
    display:flex;
    flex-direction:column;
    background-color: yellowgreen;
    padding: 100px;
}
.mostrar-checkout{
    transform: translateX(-400px); 

}

.overlay {
    position: absolute;
    top: 0;
    background-color: rgba(7, 7, 7, 0.7);
    

}
.fa-search{
    transform:translateX(-20px)
}

header{
    height: 250px;
    background-image: url(./imagenesTienda/fondo-header.jpg);
    display:flex;
    justify-content:center;
    align-items: center;  
}

.contenedor{
    display: flex;  
    padding-top:80px;
    background-color:rgb(199, 199, 247);
        
}


.filtros{
    margin-left:10px;
    width: 20%;
    align-items: center;
  
}
.boton-limpiar{
    border: none;
    background-color:rgb(199, 199, 247);
    font-size: medium;
}
.encabezado-filtro{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

label{
    display:flex;
}

.seccion-principal{
 
 width: 80%; 
 
}
.vista-productos{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left:50px; 
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right:15px;
    padding-left:15px;
    border-radius:20px;
}
.contenedor-tarjetas-productos{
    background-color: rgb(199, 199, 247);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.tarjeta-producto{
    width: 300px;
    height: 450px;
    background-color:white;
    margin:10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center;
    border-radius:20px; 
    flex-direction: column;   

}
.imagen{
    width: 200px;
    height: 200px;
    margin:20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    
    

}
.imagen>img{
    width: 100%;
    height: auto;
    transition: all 2s;
    border-radius:20px; 
    
    
  
}
img:hover{
    transform:scale(1,2);
}

h4{
    margin-top:5px;
}

.tarjeta-producto>p{
    margin:5px;
}
.hidden{
    display:none;
}

.rating{
    padding: 5px;
    margin-bottom: 10px;
}

.fa-star{
    color:goldenrod;
    padding-right:0;
   
}
ul{
    list-style: none;
    padding-left:0;
 
}

.boton-comprar{
    border:none;
    border-radius: 5px solid  rgb(199, 199, 247);
    background-color: rgb(199, 199, 247);
    font-size: medium;
    padding: 10px;
}

footer{
    background-color:rgb(121, 224, 52);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width:600px){

    .filtros{
        display:none;
    }
    header{
        text-align: center;
    }
    .contenedor{
        justify-content: center;
    }
    .vista-productos{
    margin:0;
    }
    .tarjeta-producto{
       width: 600px;
       padding: 10px;
    
    }
    footer{
        text-align: center;
    }
footer p{
    font-size: small;
}



.menu-carrito-desplegable{
    width: 70%;
    transform: translateX(0px);
}

.menu-checkout{
    flex-direction:column;
    width: 100%;
    transform: translateX(0px);
    left:0px;  
}

.datos-personales-pago{
    margin-left: 30px;
}
.resumen{
    padding:0px;  
}

.contenido-resumen{
    margin-left:30px;
}